@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.head{
    width: 95%;
    margin-left: 2.5%;
    padding:30px 0;
}
.logo{
    display: inline-block;
    margin-right: 40px;
    width: 155px;
}
.menu{
    display: inline-block;
}
nav{

}
nav a{
    color:black;
    text-align: center;
    margin:  0 0 0 40px;
}

/*=================================
  Header styling ends here
=================================*/  
.hrline{
    width: 100%;
    height:4px;
    background-image: linear-gradient(to right,rgb(86,216,178),rgb(36,133,195),rgb(1,63,113));
}
/*=================================
  main styling starts here
=================================*/
.hero-image{
    width: 100%;
    height: 500px;
    background-image: url('../images/morning.jpeg');
    background-size: cover;
}
.img-div{
    width: 86%;
    margin: 0 auto;
}
.img-div-cont{

}
.img-div-ctitle h2{
    text-align: center;
    padding: 40px 0;
    font-size: 54px;
    color: white;
}
.img-div p{
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
}
.lmore{
    width: 200px;
    margin: 0 auto;
    padding: 40px 0;
}
.lmore p{
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    width: 135px;
    border-image:linear-gradient(to right,rgb(86,216,178),rgb(36,133,195),rgb(1,63,113));
    border-image-slice: 1;
    cursor: pointer;
}
.emor{
    display: none;
}
.feature-brands{
    background-image: linear-gradient(to right, rgb(86,214,178),rgb(70,139,199));
}
.feature-brands h2{
    text-align: center;
    color: white;
    padding: 15px 0 0 0;
}
.b_icon{
    width: 86%;
    margin: 0 auto;
    padding:30px 0;
}
.b_icon a{
    color: white;
    font-size: 12px;
}
.back-img{
    background-color: rgb(235,238,236);
}
.bimg-cont{

}
.bimg-cont h2{
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
}
.bimg-cont p{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #929292;
    line-height: 1.5;
    padding: 0 0 35px 0;
}
.bimg-cont a{
    color: rgb(0,62,112);
    border-bottom: 3px solid transparent;
    border-image:linear-gradient(to right,rgb(86,216,178),rgb(36,133,195),rgb(1,63,113));
    border-image-slice: 1;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;    
}
.arti{
    margin: 50px 0 0 0;
}
.artiflex{
    display: flex;
    flex-wrap: wrap;
}
.f1{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.f1 img{
    width: 70%;
    height: 300px;
    margin: 7.5% 15% 7.5% 15%;
}
.f2{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
}
.ftitle,.f6title,.f7title{
    padding: 100px 0 20px 0;
}
.ftitle p,.f6title p,.f7title p{
    text-align: center;
    line-height: 1.5;
    color: rgb(0,62,112);
    font-size: 18px;
    word-spacing: 4px;
}
#f2p,#f2pm,#f3p,#f3pm,#f6p,#f6pm,#f7p,#f7pm{
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 0 38px 0;
}
#more,#more1,#more2,#more3{
    color: rgb(0,62,112);
    border-bottom: 3px solid transparent;
    border-image:linear-gradient(to right,rgb(86,216,178),rgb(36,133,195),rgb(1,63,113));
    border-image-slice: 1;
    font-weight: bold;
    width: 88px;
    margin: 0 auto;
    cursor: pointer;
}
#f2pm,#f3pm,#f6pm,#f7pm{
    display: none;
}
.f3{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.f3title{
    padding: 100px 0 20px 0;
}
.f3title p{
    text-align: center;
    line-height: 1.5;
    color: rgb(0,62,112);
    font-size: 18px;
    word-spacing: 4px;
}
.f4{
    width: 50%;
    height: 350px;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
}
.f4 img{
    width: 50%;
    height: 400px;
}
.f5{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.f5 img{
    width: 70%;
    height: 300px;
    margin: 7.5% 15% 7.5% 15%;
}
.f6{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
}
.f7{
    width: 50%;
}
.f8{
    width: 50%;
}
.f8 img{
    width: 70%;
    height: 300px;
    margin: 7.5% 15% 7.5% 15%;
}
.supp{
    background-image: linear-gradient(to right, rgb(86,214,178),rgb(70,139,199));
}
.s1{
    width: 48%;
    display: inline-block;
    margin: 30px 0 50px 0;
}
.useri1{
    text-align: center;
    padding: 40px 40px 15px 40px;
}
.useri1 a{
    font-size: 58px;
    color: white;
    line-height: 1.5;
}
.useri1 p{
    width: 66%;
    color: white;
    font-size: 24px;
    margin: 0 auto;
}
.fas{

}
.fa-user{

}
.useri2{
    width: 60%;
    margin: 0 auto;
}
.useri2 p{
    text-align: center;
    font-size: 12px;
    color: white;
}
.useri3{
    text-align: center;
    padding: 20px 0 0 0;
}
.useri3 a{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    border-bottom-color:rgb(168,223,220);
    padding:0 0 2px 0;
}
.s2{
    width: 48%;
    display: inline-block;
    margin: 30px 0 50px 0;
}
.products{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
}
.p1{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.p1 img{
    width: 70%;
    height: 300px;
    padding: 7.5% 15% 7.5% 15%;
}
.p2{
    width: 50%;
    height: 300px;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
}
.prod-content{
    padding: 50px;
}
.proname{

}
.proname p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.procont{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.procont p{
    font-size: 14px;
    color: gray;
    line-height: 1.2;
}
.more4{

}
#pro1,#pro3,#buy a{
    padding: 30px 0;
    color: rgb(0,62,112);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
#pro1p,#pro3p{
    display: none;
}
.p3{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.p4{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
    
}
.p4 img{
    width: 70%;
    height: 300px;
    padding: 7.5% 15% 7.5% 15%;
}
.p5{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(251,251,251),rgb(240,240,240));
    border-image-slice: 1;
}
.p5 img{
    padding: 7.5% 15% 7.5% 15%;
}
.p6{
    width: 50%;
    border-bottom: 4px solid transparent;
    border-image:linear-gradient(to right,rgb(240,240,240),rgb(251,251,251));
    border-image-slice: 1;
}
.libc{
    background-image: linear-gradient(to bottom right,rgb(85,214,176),rgb(7,74,117));
    
}
.bio-cont{
    padding: 50px 10px 50px 10px;
}
.bio-cont p{
    text-align: center;
    color: white;
    line-height: 2;
    font-size: 18px;
}
.author{
    padding: 40PX;
    font-size: 14px;
    color: rgb(135,183,191);
}
.bitaut p{
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(135,183,191);
}
.bitaut{
    padding: 20px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  